[Unit]
Description={{ .Compute.Name }}
After=syslog.target network.target auditd.service


[Service]
User=root
Type=simple

ExecStartPre={{ .VmServiceShFilePath }} startpre
ExecStart={{ .VmServiceShFilePath }} start

KillMode=control-group
Restart=always
