[Unit]
Description={{ .Compute.Name }}
After=syslog.target network.target auditd.service


[Service]
User=root
Type=simple

WatchdogSec=0
ExecStartPre={{ .VmServiceShFilePath }} startpre
ExecStart={{ .VmServiceShFilePath }} start
ExecStopPost={{ .VmServiceShFilePath }} stop

KillMode=control-group
Restart=always
