/* header navigation */

#nav-header {
    position: fixed;
    z-index: 3;
}

nav {
    height: 50px;
    line-height: 50px;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
    height: 50px;
    line-height: 50px;
}

nav .button-collapse i {
    height: 50px;
    line-height: 50px;
}

nav .brand-logo {
    font-size: 1.6rem;
    padding: 0px 10px 0px 10px;
}

@media only screen and (min-width: 601px) {
    nav,
    nav .nav-wrapper i,
    nav a.button-collapse,
    nav a.button-collapse i {
        height: 50px;
        line-height: 50px;
    }
}

#content-wrapper {
    margin-left: 0px;
    padding: 50px 8px 8px 8px;
}

#menu-toggle {
    display: inline-block;
}

#sidebar-wrapper {
    width: 0px;
    margin-top: 50px;
    position: fixed;
    overflow-y: auto;
    height: 100%;
    top: 0;
    display: flex;
    z-index: 2;
    border-right: 1px solid rgba(0, 0, 0, 0.14);
}

#sidebar-wrapper.toggled {
    width: 240px;
}

#sidebar-wrapper .input-field {
    margin-bottom: 0px;
}

.sidebar-item {
    padding: 0px;
}

.sidebar-item a {
    display: inline-block;
    width: 100%;
    padding: 6px 8px 6px 8px;
    color: #212121;
}

.sidebar-item a:hover {
    border-right: 3px solid #ee6e73;
    background-color: #f5f5f5;
}

.sidebar-item i {
    float: right;
    display: inline-block;
    margin: 0px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidebar-item .list-group-item {
    padding: 4px;
    align-items: center;
    justify-content: center;
}

.sidebar-item-active {
    border-right: 5px solid #ee6e73;
}

.rotate-90 {
    transform: rotate(90deg);
}

.autocomplete-wrapper {
    padding: 0px 45px 0px 8px;
}
.autocomplete-wrapper label {
    color: #212121;
}
.autocomplete-wrapper .hint {
    position: absolute;
    right: 8px;
    font-size: 12px;
    top: -15px;
    color: #616161;
}
.autocomplete-wrapper i {
    position: absolute;
    right: 8px;
    top: 12px;
    color: #616161;
}

#header-menu-toggle {
    display: inline-block;
}

#header-menu {
    display: none;
}

@media (min-width: 768px) {
    #menu-toggle {
        display: none;
    }

    #sidebar-wrapper {
        width: 240px;
    }

    #content-wrapper {
        margin-left: 240px;
    }
}

.table-wrapper td,
th {
    padding: 5px 5px;
    max-width: 300px;
}

.table-wrapper .input-field {
    margin-top: 0px;
    margin-bottom: 0px;
}

.table-wrapper [type="checkbox"] + span:not(.lever) {
    height: 18px;
    line-height: 18px;
}

.table-wrapper .checkbox-wrapper {
    width: 1px;
}

.pagenation-wrapper select {
    height: 35px;
}

.table-wrapper .link {
    color: #039be5;
}

.table-wrapper .link:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.pane h1 {
    font-size: 35px;
    margin: 0px;
    border-left: 5px solid #ee6e73;
    padding-left: 5px;
}
