package genpkg
{{- $spec := . }}

import (
    "github.com/syunkitada/goapp/pkg/base/base_model/index_model"
    "github.com/syunkitada/goapp/pkg/base/base_model/spec_model"
)

{{- range $api := $spec.Apis }}
var {{ $api.Name }}CmdMap = map[string]index_model.Cmd{
{{- range $query := $api.Queries }}
    "{{ $query.CmdName }}": index_model.Cmd{
        QueryName:   "{{ $query.Name }}",
        FlagMap:     map[string]index_model.Flag{
        {{- range $flag := $query.Flags }}
            "{{ $flag.FlagName }}": index_model.Flag{
                Required: {{ $flag.Required }},
                FlagType: "{{ $flag.FlagType }}",
                FlagKind: "{{ $flag.FlagKind }}",
            },
        {{- end }}
        },
        OutputKind: "{{ $query.CmdOutputKind }}",
        OutputFormat: "{{ $query.CmdOutputFormat }}",
    },
{{- end }}
}
{{- end }}

var ApiQueryMap = map[string]map[string]spec_model.QueryModel{
    "Auth": map[string]spec_model.QueryModel{
        "Login": spec_model.QueryModel{},
        "UpdateService": spec_model.QueryModel{},
    },
{{- range $api := $spec.Apis }}
    "{{ $api.Name }}": map[string]spec_model.QueryModel{
    {{- range $query := $api.Queries }}
        "{{ $query.Name }}": spec_model.QueryModel{},
    {{- end }}
    },
{{- end }}
}
