.text-content ul {
    list-style-type: disc;
    padding-left: 2em;
}

.text-content ul > li {
    list-style-type: inherit;
}

.text-content ul > li > ul li {
    list-style-type: circle;
}

.text-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

.text-nav li > a {
    overflow-wrap: break-word;
    width: 100%;
}

.text-tag-header {
    margin: 0.5rem 0 0 0;
    color: #777;
}

/* if width <= 767px */
@media (max-width: 767px) {
    .text-nav {
        display: none;
    }

    .text-right-menu {
        margin: 0px;
        padding: 10px;
    }
}
